@model intranet.Altyapi.UserApp

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="#">Admin Paneli</a>
	</li>
	<li class="active">
		<i class="fa fa-table"></i> Yeni Üye
	</li>
</ol>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserApp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div>
			@Html.LabelFor(x=>x.UserName)
			@Html.TextAreaFor(x=>x.UserName, new {@class="form-control" })
		</div>

		<div>
			@Html.LabelFor(x => x.Email)
			@Html.TextAreaFor(x => x.Email, new { @class = "form-control" })
		</div>

		<div>
			@Html.Label("Password");
			<input type="password" name="password" id="password" class="form-control" />
		</div>


        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
