@model intranet.Altyapi.UserApp

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <div class="form-horizontal">
        <h4>UserApp</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        
		<div>
			@Html.LabelFor(x => x.UserName)
			@Html.TextAreaFor(x => x.UserName, new { @class = "form-control" })
		</div>

		<div>
			@Html.LabelFor(x => x.Email)
			@Html.TextAreaFor(x => x.Email, new { @class = "form-control" })
		</div>

		<div>
			@Html.Label("Password");
			<input type="text" name="password" id="password" class="form-control" />
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
